# Import Libraries

In [0]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from pylab import rcParams
rcParams['figure.figsize'] = 10,10 
%matplotlib inline
from imblearn.over_sampling import SMOTE 
from heatmap import heatmap, corrplot
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split

plt.style.use('bmh')

# Exploratory Data Analysis

**Data Fields**


    attr1 - net profit / total assets
    attr2 - total liabilities / total assets
    attr3 - working capital / total assets
    attr4 - current assets / short-term liabilities
    attr5 - [(cash + short-term securities + receivables - short-term liabilities) / (operating expenses - depreciation)] * 365
    attr6 - retained earnings / total assets
    attr7 - EBIT / total assets
    attr8 - book value of equity / total liabilities
    attr9 - sales / total assets
    attr10 - equity / total assets
    attr11 - (gross profit + extraordinary items + financial expenses) / total assets
    attr12 - gross profit / short-term liabilities
    attr13 - (gross profit + depreciation) / sales
    attr14 - (gross profit + interest) / total assets
    attr15 - (total liabilities * 365) / (gross profit + depreciation)
    attr16 - (gross profit + depreciation) / total liabilities
    attr17 - total assets / total liabilities
    attr18 - gross profit / total assets
    attr19 - gross profit / sales
    attr20 - (inventory * 365) / sales
    attr21 - sales (n) / sales (n-1)
    attr22 - profit on operating activities / total assets
    attr23 - net profit / sales
    attr24 - gross profit (in 3 years) / total assets
    attr25 - (equity - share capital) / total assets
    attr26 - (net profit + depreciation) / total liabilities
    attr27 - profit on operating activities / financial expenses
    attr28 - working capital / fixed assets
    attr29 - logarithm of total assets
    attr30 - (total liabilities - cash) / sales
    attr31 - (gross profit + interest) / sales
    attr32 - (current liabilities * 365) / cost of products sold
    attr33 - operating expenses / short-term liabilities
    attr34 - operating expenses / total liabilities
    attr35 - profit on sales / total assets
    attr36 - total sales / total assets
    attr37 - (current assets - inventories) / long-term liabilities
    attr38 - constant capital / total assets
    attr39 - profit on sales / sales
    attr40 - (current assets - inventory - receivables) / short-term liabilities
    attr41 - total liabilities / ((profit on operating activities + depreciation) * (12/365))
    attr42 - profit on operating activities / sales
    attr43 - rotation receivables + inventory turnover in days
    attr44 - (receivables * 365) / sales
    attr45 - net profit / inventory
    attr46 - (current assets - inventory) / short-term liabilities
    attr47 - (inventory * 365) / cost of products sold
    attr48 - EBITDA (profit on operating activities - depreciation) / total assets
    attr49 - EBITDA (profit on operating activities - depreciation) / sales
    attr50 - current assets / total liabilities
    attr51 - short-term liabilities / total assets
    attr52 - (short-term liabilities * 365) / cost of products sold)
    attr53 - equity / fixed assets
    attr54 - constant capital / fixed assets
    attr55 - working capital
    attr56 - (sales - cost of products sold) / sales
    attr57 - (current assets - inventory - short-term liabilities) / (sales - gross profit - depreciation)
    attr58 - total costs /total sales
    attr59 - long-term liabilities / equity
    attr60 - sales / inventory
    attr61 - sales / receivables
    attr62 - (short-term liabilities *365) / sales
    attr63 - sales / short-term liabilities
    attr64 - sales / fixed assets
    class - the response variable Y: 0 = did not bankrupt; 1 = bankrupt

In [0]:
df1 = pd.read_csv("/content/drive/My Drive/Machine Learning/bankruptcy_Train.csv")
df1.head()

      Attr1     Attr2     Attr3     Attr4  ...    Attr62    Attr63    Attr64  class
0 -0.031545 -0.091313 -0.040269 -0.013529  ... -0.013915 -0.173939 -0.046788      0
1 -0.231729 -0.049448  0.304381 -0.080975  ... -0.015174 -0.073056 -0.027236      0
2 -0.058602  0.065060 -0.488404 -0.189489  ... -0.011736 -0.291624 -0.033580      0
3 -0.069376  0.044641 -0.181684 -0.140032  ...  0.002969 -0.554685 -0.046823      0
4  0.236424 -0.051912  0.678337 -0.014680  ... -0.015623 -0.027841 -0.023694      0

[5 rows x 65 columns]

In [0]:
df1.shape

(10000, 65)

In [0]:
neg, pos = np.bincount(df1['class'])
total = neg + pos
print('Examples:\n    Total: {}\n    Positive: {} ({:.2f}% of total)\n'.format(
    total, pos, 100 * pos / total))

Examples:
    Total: 10000
    Positive: 203 (2.03% of total)

In [0]:
y1 = df1['class']
X1 = df1.drop(columns = ['class'])

In [0]:
oversample = SMOTE(random_state = 42)

X, y = oversample.fit_sample(X1,y1)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [0]:
neg, pos = np.bincount(y)
total = neg + pos
print('Examples:\n    Total: {}\n    Positive: {} ({:.2f}% of total)\n'.format(
    total, pos, 100 * pos / total))

Examples:
    Total: 19594
    Positive: 9797 (50.00% of total)

In [0]:
X.shape , y.shape

((19594, 64), (19594,))

In [0]:
y = np.reshape(y, (19594,1))

In [0]:
df = pd.DataFrame((np.concatenate((X,y) , axis=1)), columns= df1.columns)

In [0]:
df.head()

In [0]:
df.describe()

In [0]:
plt.figure(figsize=(50,50))
cor = df.corr()
sns.heatmap(cor, annot=True, cmap=plt.cm.Reds)
plt.show()

In [0]:
#Correlation with output variable
cor_target = abs(cor["class"])

#Selecting highly correlated features
relevant_features = cor_target[cor_target>0.02]

In [0]:
len(relevant_features)

31

In [0]:
col = df.columns
dropcol = []
for i in col:
  if i not in relevant_features:
    dropcol.append(i)
df = df.drop(dropcol,axis = 1)

In [0]:
df.head()

      Attr1     Attr2     Attr3     Attr4  ...    Attr57    Attr61    Attr63  class
0 -0.031545 -0.091313 -0.040269 -0.013529  ...  0.005457 -0.214478 -0.173939    0.0
1 -0.231729 -0.049448  0.304381 -0.080975  ... -0.008385 -0.205796 -0.073056    0.0
2 -0.058602  0.065060 -0.488404 -0.189489  ...  0.006779  0.019740 -0.291624    0.0
3 -0.069376  0.044641 -0.181684 -0.140032  ...  0.005384 -0.350519 -0.554685    0.0
4  0.236424 -0.051912  0.678337 -0.014680  ...  0.025295 -0.181557 -0.027841    0.0

[5 rows x 31 columns]

# Train Test Split

In [0]:
y = df['class']
X = df.drop('class',axis = 1) 
y = y.values
X = X.values

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42,shuffle = True)

In [0]:
print('Training Features Shape:', X_train.shape)
print('Training Labels Shape:', y_train.shape)
print('Testing Features Shape:', X_test.shape)
print('Testing Labels Shape:', y_test.shape)

Training Features Shape: (14695, 30)
Training Labels Shape: (14695,)
Testing Features Shape: (4899, 30)
Testing Labels Shape: (4899,)

In [0]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

# Model Building

In [0]:
model = SVC(probability=True)
model.fit(X_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=True, random_state=None, shrinking=True, tol=0.001,
    verbose=False)

In [0]:
pred = model.predict(X_test)

In [0]:
prob = model.predict_proba(X_test)

In [0]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,pred)

array([[1948,  480],
       [  53, 2418]])

In [0]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,pred) * 100

89.12022861808533

# Test Data

In [0]:
df_test = pd.read_csv("/content/drive/My Drive/Machine Learning/bankruptcy_Test_X.csv")
df_test.head()

   ID     Attr1     Attr2     Attr3  ...    Attr61    Attr62    Attr63    Attr64
0   1 -0.047250  0.021914 -0.479502  ... -0.020144 -0.011491 -0.301879 -0.030549
1   2 -0.052601 -0.016568 -0.175990  ... -0.175267 -0.011735 -0.291649 -0.034183
2   3 -0.259217  0.046521  0.950983  ... -0.270637  0.002269 -0.549296 -0.037978
3   4  0.088328  0.017722 -0.540323  ...  0.033484 -0.017165  0.187840  0.000147
4   5  0.011902  0.123401  0.730972  ... -0.273849 -0.015402 -0.050778 -0.036754

[5 rows x 65 columns]

In [0]:
colt = df_test.columns
dropcolt = []
for i in colt:
  if i not in relevant_features:
    dropcolt.append(i)
df_test = df_test.drop(dropcolt,axis = 1)

In [0]:
df_test = scaler.transform(df_test)

In [0]:
final_pred = model.predict(df_test)

In [0]:
df_y = pd.read_csv("/content/drive/My Drive/Machine Learning/bankruptcy_sample_Y.csv")
df_y.head()

   ID  class
0   1  0.111
1   2  0.222
2   3  0.342
3   4  0.111
4   5  0.555

In [0]:
df_y = df_y.drop(['class'], axis=1)

In [0]:
subm = pd.DataFrame({
        "ID": df_y["ID"],
        "class": final_pred
    })

subm.to_csv('submission.csv', index=False)